.projects {
    position: relative;
    background-color: #F8EFF4;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.projects-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.projects-header {
    text-align: center;
    margin: 0;
}
